
mat-card {
  max-width: 400px;
  margin: 2em auto;
  padding: 24px !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h3 {
  margin-top: 0;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
}


mat-form-field {
  width: 100%;
  margin-bottom: 8px;
}

button {
  margin-top: 16px;
  padding: 8px 0;
  font-weight: 500;
}